html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  font-family: "brandon-grotesque", sans-serif; }

body {
  margin: 0; }

a {
  color: #377F90;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

section > h1,
section > .wrapper > h1 {
  text-align: center;
  color: #377F90;
  font-size: 2.5rem;
  margin-bottom: 1em; }

header {
  background: #377F90;
  font-size: 1em; }
  header a {
    text-decoration: none;
    text-transform: uppercase; }
  header a.brand {
    display: inline-block;
    padding: 0.75em;
    background: #224e59; }
    header a.brand h1 {
      display: inline;
      color: white;
      font-size: inherit; }
  header ul {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    float: right; }
    header ul li {
      display: inline-block; }
      header ul li a {
        padding: 0.75em 0.375em;
        color: white;
        display: block; }
      header ul li.register a {
        padding: 0.75em;
        background: #E3DD46;
        margin-left: 0.375em;
        color: #59595B;
        font-weight: bold; }
        header ul li.register a:hover {
          background: #c0b91d; }

#hero {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: url(../img/hero.jpg) no-repeat center bottom scroll;
  background-size: cover;
  padding: 3em;
  min-height: 75vh;
  position: relative; }
  #hero:last-child {
    margin-right: 0; }
  #hero .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #hero .content:last-child {
      margin-right: 0; }
  #hero .box {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: white;
    padding: 1.5em;
    margin-bottom: 2em; }
    #hero .box * {
      color: #59595B; }
  #hero h1 {
    text-transform: uppercase; }
  #hero h2 {
    margin-bottom: 0.25rem; }
  #hero p {
    margin-bottom: 0; }
  #hero .partners .logo {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%; }
    #hero .partners .logo:last-child {
      margin-right: 0; }
    #hero .partners .logo img {
      width: 100%; }
  #hero a.register {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #E3DD46;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #59595B;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    position: relative;
    font-size: 1.25em; }
    #hero a.register:hover {
      background: #c0b91d;
      cursor: pointer; }
    #hero a.register:active {
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.23);
      top: 4px;
      position: relative; }
  #hero .credit {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #E3DD46;
    color: #59595B;
    padding: 0.5em; }

@media screen and (max-width: 960px) {
  #hero .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    #hero .content:last-child {
      margin-right: 0; } }

#about {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #377F90; }
  #about:last-child {
    margin-right: 0; }
  #about .content {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    text-align: center;
    color: white;
    font-size: 1.25em; }
    #about .content::after {
      clear: both;
      content: "";
      display: table; }

#faq, #challenges {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 3rem 0 3rem;
  overflow: auto; }
  #faq::after, #challenges::after {
    clear: both;
    content: "";
    display: table; }
  #faq ul, #challenges ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-left: 0;
    margin-top: 0; }
    #faq ul:last-child, #challenges ul:last-child {
      margin-right: 0; }
    #faq ul li, #challenges ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      list-style-type: none;
      padding: 1.5em;
      margin-bottom: 1.5em;
      color: #59595B; }
      #faq ul li:last-child, #challenges ul li:last-child {
        margin-right: 0; }
      #faq ul li:first-child, #challenges ul li:first-child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        #faq ul li:first-child:last-child, #challenges ul li:first-child:last-child {
          margin-right: 0; }
      #faq ul li:nth-child(3n+2), #challenges ul li:nth-child(3n+2) {
        margin-right: 0; }
      #faq ul li p:last-child, #challenges ul li p:last-child {
        margin-bottom: 0; }

#challenges {
  padding-bottom: 3rem; }
  #challenges h1 {
    margin-bottom: 0.5em; }
  #challenges > h2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5em; }
    #challenges > h2:last-child {
      margin-right: 0; }
  #challenges ul li img {
    height: 2rem; }
  #challenges ul li:first-child {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #challenges ul li:first-child:last-child {
      margin-right: 0; }
  #challenges ul li:nth-child(3n+2):nth-child(n) {
    margin-right: 2.35765%; }
  #challenges ul li:nth-child(3n+2):nth-child(n+1) {
    clear: none; }

#sign-up-block {
  background: #377F90;
  padding: 2em; }
  #sign-up-block h2 {
    color: white;
    text-align: center; }
    #sign-up-block h2 a {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background: #E3DD46;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #59595B;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      position: relative;
      font-size: 0.75em;
      margin-left: 1em; }
      #sign-up-block h2 a:hover {
        background: #c0b91d;
        cursor: pointer; }
      #sign-up-block h2 a:active {
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.23);
        top: 4px;
        position: relative; }

#venue {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 3rem 0 3rem; }
  #venue::after {
    clear: both;
    content: "";
    display: table; }
  #venue > h1 {
    margin-bottom: 1rem; }
  #venue > h2 {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.5em; }
  #venue .travel > * {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 1em;
    text-align: center;
    margin-bottom: 2em;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    #venue .travel > *:last-child {
      margin-right: 0; }
    #venue .travel > * h2 {
      text-align: center;
      margin-bottom: 0.5em; }
    #venue .travel > * p {
      text-align: center;
      display: inline;
      font-size: 1.25em;
      margin-top: 1em; }
  #venue .travel span {
    display: inline-block;
    padding: 0.125em 0.5em;
    font-size: 0.8em;
    background: black;
    margin-left: 0.5em;
    color: white;
    font-family: "brandon-grotesque", sans-serif; }
    #venue .travel span.c {
      background: #F9CF42;
      color: #59595B; }
    #venue .travel span.d {
      background: #3A7F43; }
    #venue .travel span.v {
      background: #429ED7; }
    #venue .travel span.b {
      background: #DB4B37; }
  #venue #gmap_canvas {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    width: 100% !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 6rem; }
    #venue #gmap_canvas:last-child {
      margin-right: 0; }

#slack {
  background: #377F90;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  #slack * {
    color: white;
    text-align: center; }
  #slack .wrapper {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto; }
    #slack .wrapper::after {
      clear: both;
      content: "";
      display: table; }

#register {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem; }
  #register::after {
    clear: both;
    content: "";
    display: table; }
  #register iframe {
    width: 100%;
    height: 310px; }

#footer {
  width: 100%;
  background: #E3DD46; }
  #footer * {
    color: #59595B; }
  #footer p {
    padding: 1em;
    margin: 0;
    text-align: center; }

 /*# sourceMappingURL=main.css.map */