doctype html
html

    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon", type="image/x-icon", href="../img/favicon.ico")
        script(src="https://use.typekit.net/bqz3cea.js")
        script. 
            try{Typekit.load({ async: true });}catch(e){}
        title UKGovHack
        link(href='https://fonts.googleapis.com/css?family=Bangers', rel='stylesheet', type='text/css')
        != css()

    body
        header
            ul
                li: a.brand(href="/"): b UKGovHack 2016
                li: a(href="/") Home
                li: a(href="/hackathon") Hackathon
                li: a(href="/conference") Conference
                li: a(href="/sponsors") Sponsors
                li: a(href="/schedule") Schedule
                li: a(href="/conduct") Conduct
                li: a(href="/tickets") Tickets

        #page-wrapper
            block content

        footer
            .wrapper.outer
                .flex
                    a.logo(href="http://rebellabs.co.uk")
                        img(src="img/labs-white.svg" alt="Rebel Labs Logo")
                    ul
                        li: a(href="https://github.com/RebelUncut/ukgovhack.com", target="_blank") Github (we accept PRs)
                        li: a(href="http://rebellabs.co.uk", target="_blank") A Rebel Labs Project
                        li: a(href="mailto:ukgovhack@rebellabs.co.uk") Contact
                #join
                    h2 #JoinTheRebellion

        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script(src="js/magnific.js")
        script(src="js/matchHeight.js")
        != js()
