doctype html
html

    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="https://use.typekit.net/stx0six.js")
        script(type='text/javascript').
            try{Typekit.load({ async: true });}catch(e){}
        title Accountability Hack
        != css()

    body
        header
            a.brand: h1 Accountability Hack 2015
            ul
                li: a(href="") About
                li: a(href="") Challenges
                li: a(href="") Schedule
                li: a(href="") Venue
                li: a(href="") Chat
                li: a(href="") FAQ
                li.register: a(href="") Register

        block content

        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script(src="js/matchHeight.js")
        != js()