extends partials/layout

block content

	#content-page

		h1.page-title Conference

		article
			p We’re currently putting together the agenda for the conference stream, see the latest version #[a(href="/schedule") here].

			p If you would like to suggest or deliver a session, workshop or talk, we’d love to hear from you.

		.btn-group
			a.register(href="/tickets") Register now (It's free)
			a.register(href="http://goo.gl/forms/KAedDZJQOF", target="_blank") Tell us what you want to see