extends partials/layout

block content

	#content-page

		h1.page-title Conference

		article
			:marked
				The conference stream will run on Saturday, curating a series of lightning talks and workshops delivered by event partners and the community. These sessions will present a variety of interesting and insightful content, from entry level access to the public sector and technology, to more complex and developed themes.

				It is important to us that the content of the UKGovHack conference is reflective of the interests and ideas of the community.  To ensure this, we are inviting proposals, suggestions and informal recommendations for themes, talks and workshops. Based on on your proposals and feedback, we will put together a final schedule that provides a meaningful, worthwhile and joined-up experience for attendees.

				Here are some of the ways you can get involved with the UKGovHack Conference.

				## Ideas

				If you have an idea for a session or theme, but do not necessarily feel comfortable delivering to an audience, let us know and we’ll see if we can incorporate your vision into the conference, or match you with a delivery buddy.

				## Talks

				If you have a great subject or theme for a talk you would like to deliver, then we’d love you to get in touch and tell us a bit more about the topic, the structure and the format best suited to your presentation.

				## Workshops

				If you have a workshop or interactive session you’d like to bring to UKGovHack, then we’d love you to get in touch and tell us a bit more about the topic, the structure and the format in which you’d deliver your session.

				## Feedback

				We’re currently putting together the agenda for the conference stream, and you can see the latest version [here](/schedule). If you have thoughts, feedback or questions about suggested sessions please add your comments to the prospective schedule document.
