extends partials/layout

block content

	#credits

		h1.page-title Credits

		ul
			li
				img(src="img/logos/twilio.png")
				h2 Twilio
				:marked
					Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs.

					To redeem $50 of Twilio credit, use the promo code **ACCOUNTABILITYHACK**.

			li
				img(src="img/logos/aws.png")
				h2 Amazon Web Services
				:marked
					asd

					To redeem $100 of AWS credit, head to [this page](https://aws.amazon.com/activate/event/ukpahk/). Please note that the discount is only applicable until midnight on Sunday, so make sure to register on Saturday. 