extends partials/layout

block content

	#credits

		h1.page-title Credits

		ul
			li
				img(src="img/logos/twilio.png")
				h2 Twilio
				:marked
					Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs.

					To redeem $50 of Twilio credit, use the promo code **ACCOUNTABILITYHACK**.

					Click [here](http://bit.ly/1Qwndpq) to visit the Twilio upgrade page to ecieve this promo. 

			li
				img(src="img/logos/aws.png")
				h2 Amazon Web Services
				:marked
					To redeem $100 of AWS credit, head to [this page](http://amzn.to/1SHZGzo). Please note that the discount is only applicable until midnight on Saturday, so make sure to register on Saturday. 

			li
				img(src="img/logos/oc.png")
				h2 OpenCorporates
				:marked
					OpenCorporates have built, are are constantly adding to, the world's largest database of corporates. 

					Use API Key **2RNrq61IctIA8yFy4Fnb** to take advantage of a much, much higher rate limit throughout the weekend. Don't forget to check out the [API Docs](http://api.opencorporates.com/documentation/API-Reference).