extends partials/layout

block content

	#content-page

		h1.page-title Hackathon

		article
			:marked
				A hackathon is a day-long invention marathon where participants work together in teams to create awesome projects. Participants collaborate and share skills, learn new things and have an awesome time! All skill levels are very welcome.

				The hackathon will run across the weekend, offering a chance to prototype solutions to key public sector issues. The challenges will not be tied to a single agency or department, but instead aim to explore broader and recurring issues in the public sector.

				We’re currently putting together the challenges for the hackathon, and will make details available as soon as we have them.

				If you would like to suggest a challenge or a theme, we’d love to hear from you.
		.btn-group
			a.register(href="/tickets") Register now (It's free)
			a.register(href="http://goo.gl/forms/KAedDZJQOF", target="_blank") Tell us what you want to see