extends partials/layout

block content

	section#hero
		.content
			.box
				h1 UKGovHack 2016
				h2 April 2-3 2016
				h3 National Audit Office, London

				:marked
					UKGovHack is a two day event bringing together technologists and public sector enthusiasts to make connections, extend learning and share experience to strengthen the UK civic tech community.

			.btn-group
				a.register(href="/tickets") Register now (It's free)

	section#about: .content
		:marked
			UKGovHack is a hackathon and conference mashup. The two streams will run simultaneously, creating an awesome, flexible environment that is accessible to everyone with an interest in the public sector/civic technology - whether you are a developer, service designer, researcher, UX-er, an armchair enthusiast or someone approaching this subject for the very first time.

			The hackathon will run across the weekend, offering a chance to prototype solutions to key public sector issues. The challenges will not be tied to a single agency or department, but instead aim to explore broader and recurring issues in the public sector.

			The conference stream will run on Saturday, curating a series of lightning talks and workshops delivered by event partners and the community. These sessions will present a variety of interesting and insightful content, from entry level access to the public sector and technology, to more complex and developed themes.

			Running the streams concurrently means attendees can come just for the hackathon, just for the conference or feel free to move between streams to create a personal UKGovHack agenda that is suited to their skills and interests.

	section#faq
		h1 FAQ
		ul
			li
				h2 What is UKGovHack?
				p UKGovHack is a hackathon conference mashup with the aim of connecting interested and interesting people with the UK public sector. We are excited to bring together technologists, enthusiasts and those curious about the UK civic space to hack solutions and share ideas to inspire and affect positive change.
			li
				h2 What is a hackathon?
				p A hackathon is a day-long invention marathon where participants work together in teams to create prototype projects to solve a specific challenge. Participants collaborate and share skills, learn new things and have an awesome time! All skill levels are very welcome.
			li
				h2 Isn't hacking bad?
				p In this context, hacking means building apps, websites and services really quickly to prove the value in an idea. Nothing malicious, nothing illegal.
			li
				h2 How do I find a team?
				p There will be plenty of opportunity to share ideas and connect with fellow UKGovHackers to create a team on and the day, as well as before the event in the UKGovHack Slack. As organisers, we’ll do our best to encourage and facilitate teamwork across the weekend.
			li
				h2 Who can attend?
				p Our aim is to make the event accessible to everyone interested in the UK Public Sector through a varied programme. As such, whether you are a developer, service designer, researcher, UX-er, an armchair enthusiast or someone approaching this subject for the very first time we are very excited to welcome you to UKGovHack 2016.
			li
				h2 What about under 18s?
				p Under 18s are very welcome to attend UKGovHack and there will be appropriate measures in place to ensure your safety across the event - namely multiple DBS checked volunteers, at least two of whom will chaperone the u18s sleeping area.
			li
				h2 What if I'm not a coder?
				p You don’t have to be a coder to participate in the hackathon! You can still become a valuable team member, offering a fresh perspective, or perhaps by bringing other skills to the table such as design, data analysis or insight into user need.
			li
				h2 Who is the conference stream suitable for?
				p The conference stream is suitable for anyone with an interest in technology or the public sector, whether you have no previous experience in either area or have been in the community for years. The sessions will present a variety of interesting and insightful content, from entry level access, to more complex and developed themes.
			li
				h2 Can I stay overnight?
				p Absolutely! We’ll have separate sleeping areas for over 18s and under 18s, and there is plenty of space in the NAO to find a quiet corner to get your head down. Under 18s will be chaperoned by two DBS checked volunteers overnight.
			li
				h2 How much does it cost?
				p Nothing! UKGovHack is free to attend, with the venue and all food provided by our fab partners and supporters.

			li
				h2 What's the deal with food?
				p All food across the weekend will be provided free of charge - from breakfast on Saturday through to lunch on Sunday. All dietary requirements will be considered and catered for - please make sure you provide this information upon registering.
			li
				h2 Who owns the projects?
				p All IP generated at the UKGovHack hackathon belongs to the developer. However, to generate the widest benefit from this event, we encourage developers to provide Open Source licenses for the results of their creativity.
			li
				h2 Can I start before?
				p While you can explore ideas and produce designs before the UKGovHack hackathon, you cannot write a line of code for your project before the event itself.
			li
				h2 What shall I bring?
				p Bring your laptop, charger(s) and any other devices you wish to work on at the hackathon. If you are staying overnight, you will also need to bring toiletries, and a sleeping bag or blanket and pillow.

	section#sign-up-block
		h2 Now you know the basics, you should totally #[a(href="/tickets") Register]

	section#venue
		h1 Where
		h2 National Audit Office
		.travel
			.trains
				h2 Trains
				p Victoria Station
				p #[span.d District] #[span.c Circle] #[span.v Victoria]
			.buses
				h2 Buses
				p Bus Routes
				p #[span.b 11] #[span.b 211] #[span.b C10] #[span.b C239]
		script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
		#gmap_canvas(style='height:500px;width:600px;')
		style.
			#gmap_canvas img{max-width:none!important;background:none!important}
			a#get-map-data.google-map-code(href='http://www.themecircle.net') themecircle.net
		script(type='text/javascript').
			function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(51.4984603,-0.14361729999995987),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(51.4984603, -0.14361729999995987)});infowindow = new google.maps.InfoWindow({content:"<b>National Audit Office</b><br/>Buckingham Palace Road<br/>SW1W 0PP London" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);

	section#slack: .wrapper
		h1 Join the UKGovCamp Slack Channel
		h2 Talk with other awesome people before, during and after the event!
		a(href="http://slack.gov.camp/", target="_blank") Click here to register
