extends partials/layout

block content

	#personas

		h1.page-title Personas

		article
			:marked
				Consider these personas when building your project...

				## Buffy

				Name: Buffy

				Age: 34

				Occupation: Full time mum of three

				Devices: Smartphone, Tablet

				Challenges:  
				
				* Limited time to give but lots to say
				* Her priorities are different now than when she had time to engage with politics
				* Unsure how to navigate a government she didn’t vote for

				## Xander

				Name: Xander
				
				Age: 41
				
				Occupation: Political researcher
				
				Devices: Desktop
				
				Challenges:

				* Too much information to sift through in too many different places
				* Not enough time in his day or per project
				* Limited ways to contrast political and public opinion

				## Angel

				Name: Angel
				
				Age: 65
				
				Occupation: 
				
				Devices: Tablet
				
				Challenges: 
				* Limited knowledge & understanding of technology 
				* Becoming increasingly isolated as things become more digital
				* Distrustful of the political process after expenses scandal(s)

				## Willow

				Name: Willow
				
				Age: 16
				
				Occupation: Schoolgirl 
				
				Devices: Laptop
				
				Challenges: 
				* Does not see how politics relates to her as a 16 year old
				* Doesn’t know who or what to search for to get started
				* Little or no engagement across platforms that are familiar to her

		h1.page-title.users User Needs

		article
			:marked
				* As a user I need to convince my/an PM to do something about my issue
				* As a user I need to understand what has been said/done on my/an issue
				* As a user I need to know which members are involved/interested in my/an issue
				* As a user I need to understand what my MP has said/done on my/an issue
				* As a user I need to find information on an issue or topic
				* As a user I need to find out who my MP is
				* contact MP 
				* find out about Petition system
				* As a user I need to know the MP I want to vote for or my current MP is upstanding
				* As a user I need to understand how much my MP is costing
				* As a user I need to see how my/an MP is working for me/his/her constituents
				* As a user I need to see if there are any jobs I could apply for
				* As a user I need to make my lessons interesting
				* As a user I need to find lesson plans related to Parliament
				* As a user I need to know estate information e.g. times, access, menu
				* As a user I need to promote my content online
				* As a user I need to interogate statistical data about Parliament
				* As a journalist I would like to find a list of all press notices so I can I can write a story about a topic or deparment
				* As a subject specialist I would like to find a list of all reports on defence so I can I can find the report that a colleague mentioned
				* As a parliamentary researcher I would like to find a list of all reports to Parliamentary select commmittees so I can I can find out if the NAO did a report for my select committee
				* As a pressure group I would like to find a list of reports by Departments so I can I can see how well a particular deparment is doing
				* As a visitor to NAO I would like to find directions to the NAO so I can I can get to the right place for a meeting
				* As a potential NAO employee I would like to find information about the graduate recruitment scheme so I can I can decide if to apply to the NAO for a job or to the private sector
				* As a commercial company I would like to find NAO data on spend with suppliers so I can I can check if there is work that I can bid for
				* As a potential NAO employee I would like to find out about the role of the NAO so I can I can decide if I want to work at the NAO
				* As a pressure group I would like to find out future publication dates so I can I know when the report I am interested in is being published
				* As a pressure group I would like to find out how to report my concerns about how money is being spent so I can I can ask to the NAO to investigate my concerns
				* As a transparency advocate I would like to find out how to submit a FOI request so I can I can submit my FOI request
				* As a commercial company I would like to find out how who looks after procurement so I can I can supply a service to the NAO
				* As a whistleblower I would like to find out if the NAO is a whistleblowers' channel so I can I can submit a Whistleblower request
				* As a pressure group I would like to find out what FOI requests have already been answered so I can I can decide if I should submit a new FOI request
				* As a potential NAO employee I would like to find out what vacancies exist at the NAO  so I can I can apply for a job at the NAO
				* As a subject specialist I would like to find out who worked on a particular report  so I can I can contact an audit team to ask them a question
				* As a journalist I would like to find press office contact details  so I can I can talk to a press officer
				* As a subject specialist I would like to find social media follow buttons  so I can I can keep in touch with that the NAO does 
				* As a subject specialist I would like to find the NAO recommendations on a topic so I can I can incorporate the NAO findings into our thinking at work
				* As a potential NAO employee I would like to find the organisation chart so I can I know how the NAO works before I apply
				* As a subject specialist I would like to leave feedback on an output so I can I can say why I think the NAO report contains errors
				* As a journalist I would like to read the latest NAO press notice so I can I can see if I can write a longer story about a particular project/department
				* As a member of the public I would like to read the latest NAO publication so I can I can see if the topic affects where I live
				* As a journalist I would like to read the latest NAO work in progress entry so I can I know when I can write my story
				* As a whistleblower I would like to report concerns about how my organisation is working so I can I can expose waste and wrongdoing
				* As a publisher I would like to request copyright permission so I can I do not break the law or NAO copyright
				* As a subject specialist I would like to search for a piece of content so I can I can find a relevant statistic
				* As a member of the public I would like to share an item of NAO content so I can I can highlight to others with similar interests what the NAO has found
				* As a subject specialist I would like to subscribe to an email alert so I can I can keep up to date with what the NAO is doing
				* As a member of the public I would like to write to the Comptroller and Audit General so I can I can ask him to start an investigation into….