extends partials/layout

block content

	section#hero
		.content
			.box
				h1 Accountability Hack 2015 pre-event meetup
				h2 November 10 2015
				h3 Portcullis House, London

				:marked
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, optio accusamus nihil similique veritatis ipsa perspiciatis magnam cum doloremque sit, deleniti, officiis quisquam non quidem tempore necessitatibus asperiores nam natus.
			.btn-group
				a.register(href="https://www.eventbrite.co.uk/e/accountability-hack-2015-hackathon-civictech-acchack15-tickets-18207697714?aff=es2") Register for the pre-meet
				a.register(href="https://www.eventbrite.co.uk/e/accountability-hack-2015-pre-event-session-tickets-19166692092?aff=es2") Register for the main event
		.credit Photo credit: Dave Pearce

	section#about: .content
		:marked
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa adipisci, magnam dolore accusantium inventore natus earum aut consequuntur saepe quia odit rerum quas impedit dolorem laboriosam eligendi tenetur hic, voluptatem.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, modi. Illo dolores sequi laboriosam? Veniam unde, molestias debitis tempora cum, dignissimos totam autem, esse expedita quaerat ratione nam veritatis. Voluptates.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque magni quidem alias, vitae necessitatibus, sit eos rerum nobis, nihil ullam dignissimos nostrum temporibus. Vero minima dolores libero nesciunt et, quis!