extends partials/layout

block content

	#content-page

		h1.page-title Schedule

		article
			p We’re currently putting together the official schedule for UKGovHack, and will make further details available as soon as we have them.

			p If you're wondering about the start and end times, then the event will start at 10:00 on Saturday and end by 18:00 on Sunday. The conference stream will take place on Saturday only, and will be finished by 18:00. You are welcome to join us for just the conference on Saturday, the weekend-long hackathon, or do a day of each.
