extends partials/layout

block content

	#content-page

		h1.page-title Schedule

		article
			h2.red If you'd like to suggest a conference workshop/talk, #[a(href="http://goo.gl/forms/KAedDZJQOF", target="_blank") let us know].
			
		table.schedule
			tr
				th Time
				th.h Hackathon
				th.c Conference 1
				th.c Conference 2
			tr 
				td Sat 10:00 - 11:00
				td(colspan="3") Introductions
			tr
				td Sat 11:00 - 12:00
				td 
				td Writing User Stories<br>(Lily Dart)
				td tbc
			tr 
				td Sat 12:00 - 13:00
				td 
				td Introduction to web design<br>(build your first website)
				td Hackathon ideas surgery
			tr 
				td Sat 13:00 - 14:00
				td(colspan="3") Lunch (make your own sandwiches)
			tr 
				td Sat 14:00 - 15:00
				td Hacking starts
				td Introduction to APIs<br>(use your first govt API)
				td tbc
			tr 
				td Sat 15:00 - 16:00
				td 
				td Version control for everybody<br>(Powered by GitHub)
				td tbc
			tr 
				td Sat 16:00 - 17:00
				td 
				td tbc
				td tbc
			tr
				td Sat 17:00 - 18:00
				td(colspan="3") Lightning talks - grab the mic for five minutes.<br>Slides are totally okay, but you only have five minutes.
			tr
				td Sat 18:00 - 19:00
				td(colspan="3") Day 1 wrap up & drinks
			tr
				td Sat 19:00 - 20:00
				td(colspan="3") Dinner (tbc)
			tr
				td Sat 20:00 - 21:00
				td(colspan="3") Minigame (which one is tbc)
			tr
				td Sun 00:00
				td Midnight snack
				td.x
				td.x
			tr
				td Sun 09:00
				td Breakfast (tbc)
				td.x
				td.x
			tr
				td Sun 12:00
				td Hackathon submission deadline
				td.x
				td.x
			tr
				td Sun 14:00
				td Lunch
				td.x
				td.x
			tr
				td Sun 14:30 - 16:00
				td Presentations
				td.x
				td.x
			tr
				td Sun 16:30
				td Winners annouced & wrap up
				td.x
				td.x
			tr
				td Sun 17:00 - 18:00
				td Social
				td.x
				td.x
			tr
				td Sun 18:00
				td Event end
				td.x
				td.x

