extends partials/layout

block content

	#content-page

		h1.page-title Schedule

		table.schedule
			tr
				th Time
				th.h Hackathon
				th.c Conference 1
				th.c Conference 2
				th.c Conference 3 (Pre-lunch)
			tr
				td Sat 10:00 - 11:00
				td(colspan="4") Introductions in main auditorium
			tr
				td Sat 11:00 - 12:00
				td
				td Introduction to web design<br>#[a(href="https://twitter.com/_jbrks", target="_blank") James Brooks]
				td What is GeoData and how to get the most from it<br>#[a(href="https://twitter.com/jameslmilner", target="_blank") James Milner, Ordnance Survey]
				td Team building<br>#[a(href="https://twitter.com/lily_dart", target="_blank") Rebel Labs Team & Lily Dart]
			tr
				td Sat 12:00 - 13:00
				td
				td Introduction to APIs<br>#[a(href="https://twitter.com/jesslynnrose", target="_blank") Jessica Rose, DreamFactory]
				td The Parliamentary Digital Service from the inside<br>#[a(href="https://twitter.com/dasbarrett", target="_blank") Dan Barrett, PDS]
				td Writing user stories<br>#[a(href="https://twitter.com/lily_dart", target="_blank") Lily Dart]
			tr
				td Sat 13:00 - 14:00
				td(colspan="4") Lunch
			tr
				td Sat 14:00 - 15:00
				td Hacking starts
				td Version control for everybody<br>#[a(href="https://twitter.com/bitoiu", target="_blank") Vitor Monteiro, GitHub]
				td Creating a digital strategy in your teams<br>#[a(href="https://twitter.com/greentrac", target="_blank") Tracy Green]
				td
			tr
				td Sat 15:00 - 16:00
				td
				td Communication of the future<br>#[a(href="https://twitter.com/philnash", target="_blank") Phil Nash, Twilio]
				td How does government data become 'open'?<br>#[a(href="https://twitter.com/AntonioAcunaR", target="_blank") Antonio Acuña, data.gov.uk]
				td
			tr
				td Sat 16:00 - 17:00
				td
				td Thinking about your users<br>#[a(href="https://twitter.com/Laurence_Berry", target="_blank") Laurence Berry, FutureGov]
				td Enabling skills exchange for stronger communities<br>#[a(href="https://twitter.com/gabysslave", target="_blank") Julia Higginbottom, Rebel Labs]
				td
			tr
				td Sat 17:00 - 18:00
				td(colspan="2") Lightning talks - grab the mic for five minutes.<br>Slides are totally okay, but you only have five minutes.
				td Datopolis - The Open Data Board Game<br>#[a(href="https://twitter.com/ellenbroad") Ellen Broad, Open Data Institute]
				td
			tr
				td Sat 18:00 - 19:00
				td(colspan="4") Day 1 wrap up & social<br>Official conference end
			tr
				td Sat 19:00 - 20:00
				td(colspan="4") Dinner (tbc)
			tr
				td Sat 20:00 - 21:00
				td(colspan="4") Minigame
			tr
				td Sun 00:00
				td Midnight snack
				td
				td
				td
			tr
				td Sun 09:00
				td Breakfast (tbc)
				td
				td
				td
			tr
				td Sun 12:00
				td Hackathon submission deadline
				td
				td
				td
			tr
				td Sun 14:00
				td Lunch
				td
				td
				td
			tr
				td Sun 14:30 - 16:00
				td Presentations
				td
				td
				td
			tr
				td Sun 16:30
				td Winners annouced & wrap up
				td
				td
				td
			tr
				td Sun 17:00 - 18:00
				td Social
				td
				td
				td
			tr
				td Sun 18:00
				td Event end
				td
				td
				td

