extends partials/layout

block content

	#content-page

		h1.page-title Sponsors & Supporters

		article
			p As part of UKGovHack we want to trial a new approach to event sponsorship. Instead of traditional sponsorship tiers, we are inviting both individuals and organisations to contribute an amount that feels achievable for them. We will openly publish details of all our supporters here on our website. Any excess will seed future for good community projects run by Rebel Labs.

			p There are two ways you can contribute to UKGovHack - as a supporter, or as a sponsor.

		ul.types
			li
				h2 Supporters
				p Lorem. Key points - for induviduals, name on a tshirt, name on website, shout out at finale. PayPal donation system.
				a(href="#") Click here to become a supporter
			li
				h2 Sponsors
				p Lorem. Key points - for organisations, name on a tshirt, name on website, shout out at finale, can bring a banner. Get in touch
				a(href="#") Click here to contact us about sponsorship
