extends partials/layout

block content

	#content-page

		h1.page-title Tickets

		article
			iframe(src="//eventbrite.co.uk/tickets-external?eid=21447952403&ref=etckt", frameborder="0", height="306", width="100%", vspace="0", hspace="0", marginheight="5", marginwidth="5", scrolling="auto", allowtransparency="true")
