$teal: #377F90;
$green: #E3DD46;
$grey-dark: #59595B;

$accent: $teal;
$secondary: $green;

$accent__dark: darken($accent, 15%);
$secondary__dark: darken($secondary, 15%);

$font-main: "brandon-grotesque", sans-serif;

$desktop: 960px;

@mixin material-box {
	box-shadow: 0  3px  6px rgba(#000, 0.16), 
				0  3px  6px rgba(#000, 0.23);
}

@mixin material-box_pressed {
	box-shadow: 0  3px  2px rgba(#000, 0.16), 
				0  3px  2px rgba(#000, 0.23);
	top: 4px;
	position: relative;
}

@mixin omega-reset($nth) {
	&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	&:nth-child(#{$nth}+1) { clear: none }
}

* {
	font-family: $font-main;
}

body {
	margin: 0;
}

a {
	color: $accent;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

section > h1,
section > .wrapper > h1 {
	text-align: center;
	color: $teal;
	font-size: 2.5rem;
	margin-bottom: 1em;
}