@mixin material-button($color: $green, $text: $grey-dark) {
	@include material-box;
	background: $color;
	padding: 0.5em 1em;
	text-decoration: none;
	color: $text;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	position: relative;
	&:hover {
		background: darken($color, 15%);
		cursor: pointer;
	}
	&:active {
		@include material-box_pressed;
	}
}