#challenges-page {
	@extend #faq;
	padding: 3rem;
	h1.page-title {
		color: $accent;
		margin-bottom: 2rem;
	}
	#challenges > h2 {
		@include span-columns(12);
		font-weight: 400;
		margin-bottom: 1.5em;
	}
	ul li {
		img {
			height: 2rem;
		}
		h3 {
			font-size: 26px;
		}
		@include span-columns(6 of 12);
		&:first-child {
			@include span-columns(6 of 12);
		}

		
	}

	#judges {
		h1.page-title {
			@include outer-container;
			margin-top: 2rem;
		}
		ul li {
			img {
				height: 6rem;
			}
			h2 {
				margin-top: 1em;
			}
			p {
				font-weight: bold;
				margin-bottom: 0;
				&:last-child {
					margin-top: 0;
				}
			}
		}
	}
}