#slack {
	background: $accent;
	padding: 3rem;
	* {
		color: white;
		text-align: center;
	}
	.wrapper {
		@include outer-container;
	}
	h1 {
		margin-bottom: 0;
	}
	h2 {
		margin-bottom: 1rem;
	}
	a {
		margin-bottom: 1rem;
		display: block;
	}
}