#content-page {
	@include outer-container;
	padding: 3rem;
	h1.page-title,
	h2 {
		color: $accent;
		margin-bottom: 2rem;
	}
	h2 {
		margin-top: 2rem;
	}
	article strong {
		color: $accent;
	}
	ul.types {
		margin-left: 0;
		padding-left: 0;
		li {
			@include span-columns(6 of 12);
			@include material-box;
			padding: 20px;
			margin-top: 1em;
			h2 {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}
