#data {
	@include outer-container;
	padding: 0 3rem;
	h1 {
		margin-top: 1em;
	}
	h2 {
		color: $grey-dark;
		font-weight: 400;
		text-align: center;
		margin-bottom: 1.5em;
	}
	ul {
		@include span-columns(12);
		padding-left: 0;
		margin-top: 0;
		li {
			@include span-columns(4 of 12);
			@include material-box;
			@include omega(3n);
			list-style-type: none;
			padding: 1.5em;
			margin-bottom: 1.5em;
			a {
				color: $grey-dark;
				text-decoration: none;
				h3 {
					color: $accent;
				}
			}
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.more {
			li {
				@include span-columns(12);
				h3 {
					display: inline;
					float: left;
					margin-right: 1em;	
				}
				p {
					display: inline;
					float: left;
					margin-top: 2px;
				}
			}
		}
	}
}