#faq {
	@include outer-container;
	padding: 3rem 3rem 0 3rem;
	overflow: auto;
	ul {
		@include span-columns(12);
		padding-left: 0;
		margin-top: 0;
		li {
			@include span-columns(4 of 12);
			@include material-box;
			list-style-type: none;
			padding: 1.5em;
			margin-bottom: 1.5em;
			color :$grey-dark;
			&:first-child {
				@include span-columns(8 of 12);
			}
			&:nth-child(3n+2) {
				@include omega;
			}
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}