footer {
	background: $secondary;
	padding: 1.5em 0;
	.wrapper.outer {
		@include outer-container;
		padding: 0 3rem;
	}
	.flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	a.logo {
		display: block;
	}
	img {
		height: 3rem;
		display: block;
	}
	ul {
		margin-top: 0;
		margin-bottom: 0;
		align-self: center;
		li {
			display: inline;
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 1em;
			a,
			a:hover,
			a:active {
				color: white;
				text-decoration: none;
			}
		}
	}
	#join h2 {
		width: 100%;
		text-align: center;
		color: white;
		font-family: "Bangers", sans-serif !important;
		font-size: 2em;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		font-weight: normal;
		letter-spacing: 0.025em;
	}
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	#page-wrapper {
		flex: 1;
	}
}
