$header-spacing: 0.75em;

header {
	background: $accent;
	font-size: 1em;
	a {
		text-decoration: none;
		text-transform: uppercase;
	}
	a.brand {
		display: inline-block;
		padding: $header-spacing;
		background: $accent__dark;
		h1 {
			display: inline;
			color: white;
			font-size: inherit;
		}
	}
	ul {
		display: inline-block;
		padding-left: 0;
		margin: 0;
		margin-left: $header-spacing / 2;
		li {
			display: inline-block;
			a {
				padding: $header-spacing $header-spacing / 2;
				color: white;
				display: block;
			}
			&.register {
				a {
					padding: $header-spacing;
					background: $secondary;
					margin-left: $header-spacing / 2;
					color: $grey-dark;
					font-weight: bold;
					&:hover {
						background: $secondary__dark;
					}
				}
			}
		}
	}
}