#hero {
	@include span-columns(12);
	background: url(../img/hero.jpg) no-repeat center bottom scroll; 
	background-size: cover;
	padding: 3em;
	min-height: 75vh;
	position: relative;
	.content {
		@include span-columns(6 of 12);
	}
	.box {
		@include material-box;
		background: white;
		padding: 1.5em;
		margin-bottom: 2em;
		* {
			color: $grey-dark;
		}
	}
	h1 {
		text-transform: uppercase;
	}
	h2 {
		margin-bottom: 0.25rem;
	}
	p {
		margin-bottom: 0;
	}
	img.logo {
		height: 3rem;
		margin-bottom: 1rem;
	}
	a.register {
		@include material-button;
		font-size: 1.25em;
		margin-right: 1.5em;
		margin-bottom: 1.5em;
	}
	a.video {
		font-size: 1.25em;
		margin-bottom: 1.5em;
		@include material-button($accent, white);
	}
	.credit {
		position: absolute;
		bottom: 0;
		right: 0;
		background: $secondary;
		color: $grey-dark;
		padding: 0.5em;
	}
}

@media screen and (max-width: $desktop) {
	#hero {
		.content {
			@include span-columns(8 of 12);
		}
	}
}