// Header

	header {
		a.brand {
			display: block;
			text-align: center;
		}
		ul {
			background: $accent;
			width: 100%;
			text-align: center;
			margin: 1em 0;
			li {
				a {
					padding-top: 0;
				}
				&:first-child {
					width: 100%;
					margin-top: 1.5em;
					margin-bottom: 1em;
					img {
						display: block;
						height: 1.5em;
						margin: 0 auto;
					}
				}
			}
		}
	}

// Hero

	#hero .content {
		@include span-columns(12);
	}

// FAQ 

	#faq {
		ul li {
			@include span-columns(6 of 12);
			&:first-child {
				@include span-columns(12);
			}
			&:nth-child(3n+2) {
				@include omega-reset(n);
			}
			&:nth-child(2n+3) {
				@include omega;
				margin-right: 0 !important;
			}
		}
	}

// Challenges

	#challenges {
		ul li {
			@include span-columns(12);
			width: 100%	!important;
		}
	}

// Data 

	#data {
		ul li {
			@include span-columns(6 of 12);
			@include omega-reset(3n);
			@include omega(2n);
		}
	}

// Venue 

	#venue {
		.travel > * {
			@include span-columns(12);
		}
	}

// Chat

	#slack {
		h1 {
			font-size: 1.5em;
		}
	}

// Register

	#register {
		.event {
			@include span-columns(12);
			&:first-child {
				iframe {
					height: 250px;
				}
			}
			&:last-child {
				iframe {
					height: 310px;
				}
			}
		}
	}
