// Base

	section> h1 {
		font-size: 2em;
	}

// Hero

	#hero {
		* {
			font-size: 1em;
		}
		a {
			font-size: 1em !important;
			text-align: center;
			display: block;
			width: 100%;
			&.video {
				margin-bottom: 2em;
			}
		}
	}

// About

	#about {
		.content {
			font-size: 1em;
		}
	}


// FAQ 

	#faq ul li {
		@include span-columns(12);
		width: 100% !important;
		h2 {
			cursor: pointer;
			font-size: 1em;
		}
	}

// Challenges 

	#challenges {
		h2 {
			font-size: 1em;
		}
		ul li img {
			height: 1.5rem;
		}
	}

// Register Block

	#sign-up-block {
		display: none;
	}

// Data

	#data {
		display: none;
	}

// Venue 

	#venue {
		display: none;
	}

// Chat

	#slack {
		h1 {
			font-size: 1em;
		}
	}