table.schedule {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  tr {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    th,
    td {
      border: none;
      padding: 0.5em;
      text-align: left;
      vertical-align: text-top;
      width: 22.5%;
      border-right: 1px solid #DFDFDF;
      a {
        color: #adadad;
        font-style: italic;
      }
      &:first-child {
        border-right: 1px solid #DFDFDF;
        width: 10%;
      }
    }
    th {
      &.h {
        color: $blue;
      }
      &.c {
        color: $red;
      }
    }
    td {
      &.x {
        background: #DFDFDF;
      }
    }
  }
}
