#venue {
	@include outer-container;
	padding: 3rem 3rem 0 3rem;
	> h1 {
		margin-bottom: 1rem;
	}
	> h2 {
		text-align: center;
		margin-bottom: 2rem;
		padding: 0.5em;
	}
	.travel {
		> * {
			@include span-columns(6 of 12);
			padding: 1em;
			text-align: center;
			margin-bottom: 2em;
			background: white;
			@include material-box;
			h2 {
				text-align: center;
				margin-bottom: 0.5em;
			}
			p {
				text-align: center;
				display: inline;
				font-size: 1.25em;
				margin-top: 1em;
			}
		}
		span {
			display: inline-block;
			padding: 0.125em 0.5em;
			font-size: 0.8em;
			background: black;
			margin-left: 0.5em;
			color: white;
			font-family: $font-main;
			&.c {
				background: #F9CF42;
				color: $grey-dark;
			}
			&.d {
				background: #3A7F43;
			}
			&.v {
				background: #429ED7;
			}
			&.b {
				background: #DB4B37;
			}
		}
	}
	#gmap_canvas {
		@include span-columns(12);
		width: 100% !important;
		@include material-box;
		margin-bottom: 6rem;
	}
}